<div layout="row" flex layout-wrap>
    <md-input-container class="md-block" flex="20">
        <label>Dispatch Number</label>
        <input md-maxlength="10" required name="dispatch_number" ng-model="ctrl.mail.data.attributes.dispatch_number">
        <div ng-messages="mailForm.dispatch_number.$error">
            <div ng-message="required">This is required.</div>
            <div ng-message="md-maxlength">The dispatch number has to be less than 10 characters long.</div>
        </div>
    </md-input-container>
    <md-input-container class="md-block" flex="20">
        <label>Receptacle</label>
        <input md-maxlength="2" required name="code" ng-model="ctrl.mail.data.attributes.receptacle">
        <div ng-messages="mailForm.receptacle.$error">
            <div ng-message="required">This is required.</div>
            <div ng-message="md-maxlength">The receptacle has to be less than 2 characters long.</div>
        </div>
    </md-input-container>
    <md-input-container class="md-block" flex="30">
        <label>Tag Weight</label>
        <input required name="tag_weight" ng-model="ctrl.mail.data.attributes.tag_weight">
    </md-input-container>
    <md-input-container class="md-block" flex="30">
        <label>Physical Weight</label>
        <input name="physical_weight" ng-model="ctrl.mail.data.attributes.physical_weight">
    </md-input-container>
    <md-input-container class="md-block" flex="30">
        <label>Mail Type</label>
        <md-select required ng-model="ctrl.mail.data.attributes.mail_type">
            <md-option>Ordinary</md-option>
            <md-option>Registered</md-option>
            <md-option>EMS</md-option>
            <md-option>E-tukuri</md-option>
            <md-option>Mail</md-option>
        </md-select>
        <div ng-messages="mailForm.mail_type.$error">
            <div ng-message="required">This is required.</div>
        </div>
    </md-input-container>
    <md-input-container class="md-block" flex="30">
        <label>Destination Country</label>
        <md-select required ng-model="ctrl.mail.data.attributes.destination_country">
            <md-option>Maldives</md-option>
            <md-option>Singapore</md-option>
            <md-option>India</md-option>
            <md-option>China</md-option>
            <md-option>US</md-option>
        </md-select>
        <div ng-messages="mailForm.destination_country.$error">
            <div ng-message="required">This is required.</div>
        </div>
    </md-input-container>
    <md-input-container class="md-block" flex="30">
        <label>Office Of Exchange</label>
        <md-select required ng-model="ctrl.mail.data.attributes.office_of_exchange">
            <md-option>Maldives</md-option>
            <md-option>Singapore</md-option>
            <md-option>India</md-option>
            <md-option>China</md-option>
            <md-option>US</md-option>
        </md-select>
        <div ng-messages="mailForm.office_of_exchange.$error">
            <div ng-message="required">This is required.</div>
        </div>
    </md-input-container>
    <md-input-container class="md-block" flex="30">
        <label>Medium Of Transport</label>
        <md-select required ng-model="ctrl.mail.data.attributes.medium_of_transport">
            <md-option>Sea</md-option>
            <md-option>Air</md-option>
        </md-select>
        <div ng-messages="mailForm.medium_of_transport.$error">
            <div ng-message="required">This is required.</div>
        </div>
    </md-input-container>
    <md-input-container class="md-block" flex="30">
        <label>Country Of Origin</label>
        <md-select required ng-model="ctrl.mail.data.attributes.origin_country">
            <md-option>Maldives</md-option>
            <md-option>Singapore</md-option>
            <md-option>India</md-option>
            <md-option>China</md-option>
            <md-option>US</md-option>
        </md-select>
        <div ng-messages="mailForm.origin_country.$error">
            <div ng-message="required">This is required.</div>
        </div>
    </md-input-container>
    <md-input-container class="md-block" flex="30">
        <label>Office Of Origin</label>
        <md-select required ng-model="ctrl.mail.data.attributes.office_of_origin">
            <md-option>Maldives</md-option>
            <md-option>Singapore</md-option>
            <md-option>India</md-option>
            <md-option>China</md-option>
            <md-option>US</md-option>
        </md-select>
        <div ng-messages="mailForm.office_of_origin.$error">
            <div ng-message="required">This is required.</div>
        </div>
    </md-input-container>

    <md-datepicker ng-model="ctrl.mail.data.attributes.date_of_dispatch" md-placeholder="Date of Dispatch"></md-datepicker>
</div>