<as-content-body>
    <md-content class="md-whiteframe-1dp">
        <md-toolbar class="md-table-toolbar" layout="row">
            <div class="md-toolbar-tools" flex>
                <h2>
                    <span>Mails</span>
                </h2>
                <span flex></span>
                <md-button ui-sref="app.mails.create" class="md-icon-button" aria-label="Create mail">
                    <md-icon md-svg-src="ic_add_24px.svg"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-table-container>
            <table md-table>
                <thead md-head>
                    <tr md-row>
                        <th md-column>Tracking #</th>
                        <th md-column>Customer</th>
                        <th md-column>Status</th>
                        <th md-column>Weight</th>
                        <th md-column>Category</th>
                        <th md-column>State</th>
                    </tr>
                </thead>
                <tbody md-body>
                    <tr md-row role="button"
                        ng-click="ctrl.view(1)">
                        <td md-cell>EE9328473IN</td>
                        <td md-cell>Ahmed Salim - 234346</td>
                        <td md-cell>Delivered</td>
                        <td md-cell>321gms</td>
                        <td md-cell>Registered</td>
                        <td md-cell></td>
                    </tr>
                    <tr md-row role="button"
                        ng-click="ctrl.view(1)">
                        <td md-cell>EE9328473IN</td>
                        <td md-cell>Ahmed Salim - 234346</td>
                        <td md-cell>Delivered</td>
                        <td md-cell>321gms</td>
                        <td md-cell>Registered</td>
                        <td md-cell></td>
                    </tr>
                    <tr md-row role="button"
                        ng-click="ctrl.view(1)">
                        <td md-cell>EE9328473IN</td>
                        <td md-cell>Ahmed Salim - 234346</td>
                        <td md-cell>Delivered</td>
                        <td md-cell>321gms</td>
                        <td md-cell>Registered</td>
                        <td md-cell></td>
                    </tr>
                    <tr md-row role="button"
                        ng-click="ctrl.view(1)">
                        <td md-cell>EE9328473IN</td>
                        <td md-cell>Ahmed Salim - 234346</td>
                        <td md-cell>Delivered</td>
                        <td md-cell>321gms</td>
                        <td md-cell>Registered</td>
                        <td md-cell></td>
                    </tr>
                    <tr md-row role="button"
                        ng-click="ctrl.view(1)">
                        <td md-cell>EE9328473IN</td>
                        <td md-cell>Ahmed Salim - 234346</td>
                        <td md-cell>Delivered</td>
                        <td md-cell>321gms</td>
                        <td md-cell>Registered</td>
                        <td md-cell></td>
                    </tr>
                    <tr md-row role="button"
                        ng-click="ctrl.view(1)">
                        <td md-cell>EE9328473IN</td>
                        <td md-cell>Ahmed Salim - 234346</td>
                        <td md-cell>Delivered</td>
                        <td md-cell>321gms</td>
                        <td md-cell>Registered</td>
                        <td md-cell></td>
                    </tr>
                    <tr md-row role="button"
                        ng-click="ctrl.view(1)">
                        <td md-cell>EE9328473IN</td>
                        <td md-cell>Ahmed Salim - 234346</td>
                        <td md-cell>Delivered</td>
                        <td md-cell>321gms</td>
                        <td md-cell>Registered</td>
                        <td md-cell></td>
                    </tr>
                    <tr md-row role="button"
                        ng-click="ctrl.view(1)">
                        <td md-cell>EE9328473IN</td>
                        <td md-cell>Ahmed Salim - 234346</td>
                        <td md-cell>Delivered</td>
                        <td md-cell>321gms</td>
                        <td md-cell>Registered</td>
                        <td md-cell></td>
                    </tr>
                    <tr md-row role="button"
                        ng-click="ctrl.view(1)">
                        <td md-cell>EE9328473IN</td>
                        <td md-cell>Ahmed Salim - 234346</td>
                        <td md-cell>Delivered</td>
                        <td md-cell>321gms</td>
                        <td md-cell>Registered</td>
                        <td md-cell></td>
                    </tr>
                    <tr md-row role="button"
                        ng-click="ctrl.view(1)">
                        <td md-cell>EE9328473IN</td>
                        <td md-cell>Ahmed Salim - 234346</td>
                        <td md-cell>Delivered</td>
                        <td md-cell>321gms</td>
                        <td md-cell>Registered</td>
                        <td md-cell></td>
                    </tr>
                </tbody>
            </table>
        </md-table-container>
        <md-table-pagination
            md-limit="10"
            md-page="1"
            md-total="{{30}}"
            md-page-select>
        </md-table-pagination>
    </md-content>
</as-content-body>