<as-content-body>
    <md-content class="md-whiteframe-1dp">
        <md-toolbar class="md-table-toolbar" layout="row">
            <div class="md-toolbar-tools" flex>
                <h2>
                    <span>Bags</span>
                </h2>
                <span flex></span>
                <md-button ui-sref="app.bags.create" class="md-icon-button" aria-label="Create bag">
                    <md-icon md-svg-src="ic_add_24px.svg"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-table-container>
            <table md-table>
                <thead md-head>
                    <tr md-row>
                        <th md-column>Dispatch #</th>
                        <th md-column>Items Count</th>
                        <th md-column>Mail Type</th>
                        <th md-column>Origin</th>
                        <th md-column>Destination</th>
                        <th md-column>Dispatched Date</th>
                    </tr>
                </thead>
                <tbody md-body>
                    <tr md-row role="button"
                        ng-click="ctrl.view(1)">
                        <td md-cell>3243 3/4</td>
                        <td md-cell>8</td>
                        <td md-cell>Registered</td>
                        <td md-cell>Singapore</td>
                        <td md-cell>Maldives</td>
                        <td md-cell>12 Jun 2016</td>
                    </tr>
                    <tr md-row role="button"
                        ng-click="ctrl.view(1)">
                        <td md-cell>3243 4/4</td>
                        <td md-cell>15</td>
                        <td md-cell>Registered</td>
                        <td md-cell>China</td>
                        <td md-cell>Maldives</td>
                        <td md-cell>15 Jun 2016</td>
                    </tr>
                    <tr md-row role="button"
                        ng-click="ctrl.view(1)">
                        <td md-cell>3243 1/4</td>
                        <td md-cell>8</td>
                        <td md-cell>Ordinary</td>
                        <td md-cell>China</td>
                        <td md-cell>Maldives</td>
                        <td md-cell>19 Jun 2016</td>
                    </tr>
                    <tr md-row role="button"
                        ng-click="ctrl.view(1)">
                        <td md-cell>3243 2/4</td>
                        <td md-cell>31</td>
                        <td md-cell>Ordinary</td>
                        <td md-cell>China</td>
                        <td md-cell>Maldives</td>
                        <td md-cell>12 Jun 2016</td>
                    </tr>
                    <tr md-row role="button"
                        ng-click="ctrl.view(1)">
                        <td md-cell>3246 2/2</td>
                        <td md-cell>12</td>
                        <td md-cell>Registered</td>
                        <td md-cell>US</td>
                        <td md-cell>Maldives</td>
                        <td md-cell>15 Jun 2016</td>
                    </tr>
                    <tr md-row role="button"
                        ng-click="ctrl.view(1)">
                        <td md-cell>3246 1/2</td>
                        <td md-cell>27</td>
                        <td md-cell>Ordinary</td>
                        <td md-cell>India</td>
                        <td md-cell>Maldives</td>
                        <td md-cell>19 Jun 2016</td>
                    </tr>
                    <tr md-row role="button"
                        ng-click="ctrl.view(1)">
                        <td md-cell>633 1/8</td>
                        <td md-cell>10</td>
                        <td md-cell>Registered</td>
                        <td md-cell>Singapore</td>
                        <td md-cell>Maldives</td>
                        <td md-cell>19 Jun 2016</td>
                    </tr>
                    <tr md-row role="button"
                        ng-click="ctrl.view(1)">
                        <td md-cell>633 2/8</td>
                        <td md-cell>14</td>
                        <td md-cell>Parcel</td>
                        <td md-cell>Singapore</td>
                        <td md-cell>Maldives</td>
                        <td md-cell>12 Jun 2016</td>
                    </tr>
                    <tr md-row role="button"
                        ng-click="ctrl.view(1)">
                        <td md-cell>633 3/8</td>
                        <td md-cell>18</td>
                        <td md-cell>Parcel</td>
                        <td md-cell>Singapore</td>
                        <td md-cell>Maldives</td>
                        <td md-cell>15 Jun 2016</td>
                    </tr>
                    <tr md-row role="button"
                        ng-click="ctrl.view(1)">
                        <td md-cell>633 6/8</td>
                        <td md-cell>4</td>
                        <td md-cell>Registered</td>
                        <td md-cell>Singapore</td>
                        <td md-cell>Moldova</td>
                        <td md-cell>19 Jun 2016</td>
                    </tr>
                </tbody>
            </table>
        </md-table-container>
        <md-table-pagination
            md-limit="10"
            md-page="1"
            md-total="{{30}}"
            md-page-select>
        </md-table-pagination>
    </md-content>
</as-content-body>