<md-content class="md-hue-1" role="navigation" flex>
	<header ng-if="false" class="as-sidenav-header" flex layout="row" layout-align="center start">
		<a ng-href="/" class="app-logo">
			<img src="/img/logo.svg">
			<h1>{{ctrl.appName}}</h1>
		</a>
	</header>
	<md-list class="as-menu">
		<md-list-item flex>
			<md-button layout-padding ui-sref="app.dashboard" class="md-primary" flex>
				<md-icon class="md-hue-2" md-svg-src="ic_dashboard_24px.svg" aria-label="Dashboard"></md-icon>
				<span layout-padding>Dashboard</span>
			</md-button>
			<md-divider></md-divider>
		</md-list-item>
	</md-list>
</md-content>