<as-container>
    <md-content class="md-whiteframe-1dp">
        <md-toolbar class="md-table-toolbar" layout="row">
            <div class="md-toolbar-tools" flex>
                <h2><span>Users</span></h2>
                <span flex></span>
                <md-button ui-sref="app.users.create" class="md-icon-button" aria-label="Create user">
                    <md-icon md-svg-src="ic_add_24px.svg"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-table-container>
            <table md-table>
                <thead md-head>
                    <tr md-row>
                        <th md-column>Name</th>
                        <th md-column>Username</th>
                        <th md-column>Email</th>
                        <th md-column>Date of Birth</th>
                        <th md-column>Active</th>
                    </tr>
                </thead>
                <tbody md-body>
                    <tr md-row role="button"
                        ng-click="ctrl.view(1)">
                        <td md-cell>Ahmed Salim</td>
                        <td md-cell>salim</td>
                        <td md-cell>salim@falcon.local</td>
                        <td md-cell>1/1/1900</td>
                        <td md-cell>Yes</td>
                    </tr>
                    <tr md-row role="button"
                        ng-click="ctrl.view(1)">
                        <td md-cell>Ahmed Salim</td>
                        <td md-cell>salim</td>
                        <td md-cell>salim@falcon.local</td>
                        <td md-cell>1/1/1900</td>
                        <td md-cell>No</td>
                    </tr>
                    <tr md-row role="button"
                        ng-click="ctrl.view(1)">
                        <td md-cell>Ahmed Salim</td>
                        <td md-cell>salim</td>
                        <td md-cell>salim@falcon.local</td>
                        <td md-cell>1/1/1900</td>
                        <td md-cell>Yes</td>
                    </tr>
                    <tr md-row role="button"
                        ng-click="ctrl.view(1)">
                        <td md-cell>Ahmed Salim</td>
                        <td md-cell>salim</td>
                        <td md-cell>salim@falcon.local</td>
                        <td md-cell>1/1/1900</td>
                        <td md-cell>Yes</td>
                    </tr>
                    <tr md-row role="button"
                        ng-click="ctrl.view(1)">
                        <td md-cell>Ahmed Salim</td>
                        <td md-cell>salim</td>
                        <td md-cell>salim@falcon.local</td>
                        <td md-cell>1/1/1900</td>
                        <td md-cell>Yes</td>
                    </tr>
                    <tr md-row role="button"
                        ng-click="ctrl.view(1)">
                        <td md-cell>Ahmed Salim</td>
                        <td md-cell>salim</td>
                        <td md-cell>salim@falcon.local</td>
                        <td md-cell>1/1/1900</td>
                        <td md-cell>Yes</td>
                    </tr>
                    <tr md-row role="button"
                        ng-click="ctrl.view(1)">
                        <td md-cell>Ahmed Salim</td>
                        <td md-cell>salim</td>
                        <td md-cell>salim@falcon.local</td>
                        <td md-cell>1/1/1900</td>
                        <td md-cell>Yes</td>
                    </tr>
                    <tr md-row role="button"
                        ng-click="ctrl.view(1)">
                        <td md-cell>Ahmed Salim</td>
                        <td md-cell>salim</td>
                        <td md-cell>salim@falcon.local</td>
                        <td md-cell>1/1/1900</td>
                        <td md-cell>Yes</td>
                    </tr>
                    <tr md-row role="button"
                        ng-click="ctrl.view(1)">
                        <td md-cell>Ahmed Salim</td>
                        <td md-cell>salim</td>
                        <td md-cell>salim@falcon.local</td>
                        <td md-cell>1/1/1900</td>
                        <td md-cell>Yes</td>
                    </tr>
                    <tr md-row role="button"
                        ng-click="ctrl.view(1)">
                        <td md-cell>Ahmed Salim</td>
                        <td md-cell>salim</td>
                        <td md-cell>salim@falcon.local</td>
                        <td md-cell>1/1/1900</td>
                        <td md-cell>Yes</td>
                    </tr>
                </tbody>
            </table>
        </md-table-container>
        <md-table-pagination
            md-limit="10"
            md-page="1"
            md-total="{{30}}"
            md-page-select>
        </md-table-pagination>
    </md-content>
</as-container>