<as-container>
    <md-content class="md-whiteframe-1dp">
        <md-toolbar layout="row">
            <div class="md-toolbar-tools" flex>
                <md-button ui-sref="^" class="md-icon-button" aria-label="Back">
                    <md-icon md-svg-src="ic_arrow_back_24px.svg"></md-icon>
                </md-button>
                <h2><span>User</span></h2>
                <span flex></span>
                <md-button ui-sref=".update" class="md-icon-button" aria-label="Update">
                    <md-icon md-svg-src="ic_edit_24px.svg"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-list layout layout-xs="column" flex layout-wrap>
            <md-list-item flex-gt-xs="50" class="md-2-line">
                <div class="md-list-item-text md-offset">
                    <h3>Ahmed Salim</h3>
                    <p>Name</p>
                </div>
            </md-list-item>
            <md-list-item flex-gt-xs="50" class="md-2-line">
                <md-icon md-svg-src="ic_person_24px.svg"></md-icon>
                <div class="md-list-item-text">
                    <h3>salim</h3>
                    <p>Username</p>
                </div>
            </md-list-item>
            <md-list-item flex-gt-xs="50" class="md-2-line">
                <md-icon md-svg-src="ic_mail_24px.svg"></md-icon>
                <div class="md-list-item-text">
                    <h3>ahmadhsalim@gmail.com</h3>
                    <p>Email</p>
                </div>
            </md-list-item>
            <md-list-item flex-gt-xs="50" class="md-2-line">
                <md-icon md-svg-src="ic_date_range_24px.svg"></md-icon>
                <div class="md-list-item-text">
                    <h3>5 July 1980</h3>
                    <p>Date of Birth</p>
                </div>
            </md-list-item>
            <md-list-item flex-gt-xs="50" class="md-2-line">
                <md-icon md-svg-src="ic_check_24px.svg"></md-icon>
                <div class="md-list-item-text">
                    <h3>Active</h3>
                    <p>Status</p>
                </div>
            </md-list-item>
        </md-list>
    </md-content>
</as-container>